* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper {
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px;    
    margin: 0 auto;
    height: 100vh;
    background: url("./assets/Images/background.png");
    background-size:cover;
    background-repeat: repeat;
}


.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.modal.active {
    transform: scale(1);
}

.modal_content {
    padding: 20px;
    border-radius: 12px;
    background-color: #F4F5F7;
    transition: 0.4s all;
    width: 50vw;
}


