button {
	padding: 2px;
	outline: none;
	border-radius: 5px;
	border: none;
	font-size: 14px;
	text-decoration: none;
	color: #44556F;
	background-color: #fff;
	cursor: pointer; 
	text-transform: uppercase;
}

button:hover {
	background-color: #8B9194;
	cursor: pointer;
}